
 .main-grid 
     position: absolute
        width: 5000px
        height: 80px
        left: 0px
        top: 0px
        background: #545454


// .mainText   
//     position: 'sticky';
//     width: '356px';
//     height: '39px';
//     left: '505px';
//     top: '21px';
//     font-family: 'Verdana';
//     font-style: 'normal';
//     font-weight: '700px';
//     font-size: '32px';
//     line-height: '39px';
//     color: '#FFFFFF';



    .pagination-container
  display: flex
  justify-content: space-between
  align-items: center
  margin: 0px auto
  margin-top: 20px
  margin-bottom: 20px

  .icon.page
    cursor: pointer
    padding: 5px

  .pages-container
    margin: 0px 20px
    
    .page
      font-size: 18px
      font-weight: bold
    .page.active
      border: 1px solid black